<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <style>
      table, th , td
      {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
      }
      table tr:nth-child(odd) {
        background-color: #ffffff;
      }
      table tr:nth-child(even) {
        background-color: #00ff00;
    }
    </style>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <!-- My name is: {{ (firstName | uppercase) + " " + (lastName | uppercase) }}
      <br>
      My name is: {{ firstName | uppercase }} {{ lastName | uppercase }}
      <br> -->
      My name is: {{ (firstName + " " + lastName) | uppercase }}
      <br>
      <ul>
        <li ng-repeat="x in myData | orderBy: 'Name'">
          {{ x.Name }} - {{x.Last_Name}}, {{x.City}}
        </li>
      </ul>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in myData  | orderBy: 'Name'">
            <td>{{ x.Name }}</td>
            <td>{{ x.Last_Name}}</td>
            <td>{{ x.City }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div ng-app="myApp" ng-controller="myCtrl">

        <p>Select a person:</p>

        <select ng-model="selectedPerson" ng-options="x for (x, y) in records">
        </select>

        <p>You selected:</p>
        <p>First Name: {{selectedPerson.Name}}</p>
        <!-- <p>Last Name: {{selectedPerson.color}}</p>
        <p>City: {{selectedPerson.color}}</p> -->

        </div>

        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
        $scope.records = {
          Persons name is: {{ Name }}
        //person : {Name : "Ford", Last_Name : "Mustang", City : "red"},
        // car02 : {brand : "Fiat", model : "500", color : "white"},
        // car03 : {brand : "Volvo", model : "XC90", color : "black"}
    }
});
</script>


  </body>
  <script src="myApp.js"></script>
  <script src="myCtrl.js"></script>
</html>
